<form>
    <mat-form-field class="example-full-width">
        <mat-label>Ссылка на картинку</mat-label>
        <input matInput placeholder="картинка" name="name" [(ngModel)]="picture">
    </mat-form-field>
</form>

<!-- <img *ngIf="picture" class="img" src="{{picture}}"> -->
<div>
    <canvas #canvas (click)="getPosition($event)"></canvas>
    <p>Ширина: {{width}}; Длина: {{height}}</p>
    <p>{{position}}</p>
    <div class="result">
        <span *ngIf="Hex">HEX: {{Hex}}</span>
        <span *ngIf="RGB">RGB: {{RGB}}</span>
    </div>
    <div class="color"[style.backgroundColor]="Hex">

    </div>
</div>