<div class="main">
    <div class="nav-wrap">
        <div class="nav">
            <mat-form-field class="picture__input">
                <mat-label>Ссылка на картинку</mat-label>
                <input matInput placeholder="Ссылка на картинку" [(ngModel)]="picture">
                @if(picture){
                <button matSuffix mat-icon-button aria-label="Clear" (click)="picture=''">
                    <mat-icon>close</mat-icon>
                </button>
                }
            </mat-form-field>
            <button mat-raised-button class="picture__btn">Загрузить картинку</button>
        </div>
    </div>
    <app-picture [picture]="picture" #info></app-picture>

    <div class="info-wrap">
        <div class="info">
            @if (picture) {
            <p class="info__text info__size">{{info.size}}</p>
            <p class="info__text info__position">{{info.position}}</p>
            <p class="info__text info__hex" *ngIf="info.Hex">Hex: {{info.Hex}}</p>
            <p class="info__text info__rgb" *ngIf="info.RGB">RGB: {{info.RGB}}</p>
            <div class="info__block" [style.backgroundColor]="info.Hex"></div>
            }
        </div>
        <button mat-raised-button (click)="openDialog()">Изменить размер</button>
    </div>
</div>